<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/estilos.css">
</head>
<body>
<div class="header-monitoreo">
    <p class="p1">Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos</p>
</div>

<div class="contenedor">
    <div class="menu-ingreso">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="cuadro-redondeado">
                        <h3>INGRESA A TU CUENTA</h3>
                        <div class="boton">
                            <a href="/login" class="login-link">
                                <button type="button" class="btn btn-light rounded">
                                    <div class="texto-botones">Ingresar con usuario</div>
                                </button>
                            </a>
                        </div>
                        <div class="texto-recuadro">
                            <br>
                            <p>¿No tienes una cuenta?</p>
                            <a href="/create">
                                <div class="redireccion">
                                    <p>Crea una nueva</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="imagen">
        <img src="/archivosExtra/imagenes/image-2.png" width="80%" height="80%">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div class="telefono-utiles">
    <p> Teléfonos útiles</p>
    <p>1103 - Emergencias  107 - SAME  911 - Policía  147 - Atención ciudadana</p>
    <p>Ver todos los teléfonos</p>
</div>
</body>
</html>
